.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: initial;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.tableContent {
  font-size: 30px;
  color: grey;
}
